.user-subheader {
    height: 0;
}

.user-subheader-inner {
    position: absolute;
    z-index: 1;
    -webkit-transform: translateZ(0); 
    width: 100%;
    height: 56px !important;
    padding: 13px 0 12px 0;
    background-color: rgba(255,255,255,0.9);
    background-size: 60px 60px;
    border-bottom: 2px solid rgba(200,200,200,0.4);

    .float-left {
        margin-top: 4px;
    }

    .float-right {
        a {
            margin-left: 10px;
        }
    }

    .user-subheader-tags {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }

    .profile-stats {
        display: inline-block;
        vertical-align: middle;
        margin-top: 1px;

        li {
            display: inline-block;
            font-size: 14.5px;
            color: lighten($accent-dark, 20%);
            margin-right: 15px;

            a {
                color: inherit;
            }

            span {
                margin-left: 2px;
                color: darken($text-light, 10%);
            }
        }
    }

    .button-boring.button-small {
        background: none !important;
        font-size: 20px;
        line-height: 29px;
        padding: 0;
        vertical-align: top;
        color: darken($text-light, 10%);
        width: 20px;
        text-align: center;
        margin-right: 7px;

        &:hover {
            color: darken($text-light, 20%);
        }
    }
}

.profile {}

.profile-background {
    background-color: #333;
    background-size: cover;
    background-position: 50% 50%;
    min-width: 1040px;
    height: 400px;

    &.page-background {
        height: 350px;
    }

    .profile-background-filter {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(46,52,57,0.45);
    }
}

@media screen and (min-width: 1500px) {
    .profile-background {
        height: 500px;

        &.page-background {
            height: 450px;
        }
    }
}

.profile-header {
    position: relative;
    border-bottom: 2px solid $accent-light-border;
}

.profile-header-inner {
    width: 550px;
    text-align: center;
    margin: -90px auto 30px auto;

    &.page-header {
        position: absolute;
        width: 100%;
        text-align: left;
        margin: -210px auto 0 auto;
        overflow: hidden;

        .profile-header-avatar {
            margin-bottom: 0;
            margin-right: 30px;
            overflow: auto;
            
            display: inline-block;
            vertical-align: middle;

            img {
                width: 140px;
                height: 140px;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
            }
        }

        .profile-header-info {
            display: inline-block;
            vertical-align: middle;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        h1 {
            color: #fff;
        }

        .username {
            color: #ddd;
        }

        p.about {
            color: #ddd;
        }
    }

    .profile-header-avatar {
        margin-bottom: 20px;

        img {
            display: block;
            width: 180px;
            height: 180px;
            border: 3px solid #fff;
            border-radius: 100%;
            margin: 0 auto;
            background-color: #fff;
        }

        .profile-business {
            background-color: #fff;
            width: 28px;
            height: 28px;
            border-radius: 12px 0 10px 0;
            position: absolute;
            margin-top: -140px;
            margin-left: 206px;
            text-align: center;
            line-height: 28px;

            span {
                vertical-align: top;
                font-size: 15px;
                color: #888;
            }
        }
    }

    h1 {
        height: 32px;

        .name {
            display: inline-block;
            vertical-align: top;
            height: 31px;
            font-size: 30px;
            font-weight: 600;
            line-height: 1;
        }

        .medal {
            display: inline-block;
            vertical-align: middle;
            height: 31px;
            line-height: 0;
            margin-left: 6px;
            margin-top: 1px;
        }

        .user-verified {
            display: block;
            width: 27px;
            height: 27px;
            /* background-image: url(../images/icons/verified.png); */
            /* background-size: 24px 24px; */
            font-size: 29px;
            line-height: 0;

            &.verified-white {
                color: #fff !important;
            }
        }
    }

    .username {
        margin-top: 5px;
        font-size: 20px;
        color: #777;
    }

    p.about {
        margin-top: 15px;
        font-size: 16.5px;
        line-height: 1.5;
        color: #777;
    }
}

.profile-body {
    .profile-content {
        float: none;
        width: auto;
        overflow: hidden;
    }

    .profile-sidebar {
        float: right;
        width: 300px;
        margin-left: 20px;
    }
}

.points-circle {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    border: 5px solid inherit;

    &.circle-beginner { border: 5px solid darken($color-blue, 2%); color: $color-blue; .tag { color: $color-blue; } }
    &.circle-bronze { border: 5px solid darken($color-bronze, 2%); background-color: $color-bronze; }
    &.circle-silver { border: 5px solid darken($color-silver, 2%); background-color: $color-silver; }
    &.circle-gold { border: 5px solid darken($color-gold, 2%); background-color: $color-gold; }
    &.circle-platinum { border: 5px solid darken($color-platinum, 2%); background-color: $color-platinum; }
    &.circle-diamond { border: 5px solid darken(#eee, 2%); background-color: #eee; color: #999; .tag { color: #999; } }
    &.circle-craftedinium { border: 5px solid darken($accent-dark, 2%); background-color: $accent-dark; }

    .tag {
        font-size: 14px;
        background: none !important;

        span {
            font-size: 13px;
        }
    }
}


.level {
    display: inline-block;
    vertical-align: top;
    font-size: 10.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $color-blue;
    color: #fff;
    padding: 2px 7px;
    margin-top: 1px;
    margin-left: 5px;
    border-radius: 100px;

    span {
        padding-right: 3px;
    }

    &.level-bronze {
        background-color: $color-bronze;
    }

    &.level-silver {
        background-color: $color-silver;
    }

    &.level-gold {
        background-color: $color-gold;
    }

    &.level-platinum {
        background-color: $color-platinum;
    }
}