$text-color: #2f2f2f;
$text-light: #aeb6bb;
$color-link: #08c;

$color-red: #cf4647;
$color-orange: #F7A541;
$color-gold: goldenrod;
$color-green: #56c959; //old value: ;
$color-blue: #3BAED9;
$color-purple: #9D2053;
$color-grey: #999;

$color-bronze: #CD7F32;
$color-silver: #A8A8A8;
$color-gold: #D9A441;
$color-platinum: #CCC2C2;

$accent-dark: #2E3439;
$accent-light: #F2F1F3; //#F2F1F3;
$accent-light-inner: #F9F9F9;
$accent-light-border: #e4e3e6; //#e9e6ec;